* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:  1.5px solid red;
}

section {
  padding-left: calc(10.8vw - 17.6px);
  padding-right: calc(6.08vw - 19.7px);
  padding-top: calc(0.33vw + 41.2px);
}

.main_wrapper {
  background-image: url(./img/bgLogo.png);
  background-repeat: no-repeat;
  background-size: calc(23.8vw + 89.4px);
  background-position: top calc(4.86vw + 58.7px) left calc(70vw - 69.7px);
}

.logo {
  width: calc(8.8vw + 181.8px);
}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data span {
  font-family: "TT Hoves", sans-serif;
  font-size: 21px;
  line-height: 29.4px;
}

.data h3 {
  font-family: "TT Hoves", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 29.4px;
}

h1 {
  margin-top: calc(3.09vw + 36.3px);
  font-family: "Chava", sans-serif;
  font-size: calc(4.19vw + 26.2px);
  line-height: 110%;
}

p {
  margin-top: calc(2.2vw + 11.7px);
  font-family: "TT Hoves", sans-serif;
  font-size: calc(0.99vw + 14.2px);
  font-weight: 300;
  line-height: 140%;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.buttons button {
  width: 328px;
  height: 61px;
  border-radius: 12px;
  background-color: #6e3aba;
  font-family: "TT Hoves", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.2px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.buttons button:nth-child(2) {
  background-color: #ffffff;
  color: #6e3aba;
  border: 1px solid #6e3aba;
}

/* Page 2 */
.emoji_wrapper {
  padding-left: calc(10.8vw - 17.6px);
  font-family: "TT Hoves", sans-serif;
  margin-bottom: 160px;
}

.emoji_wrapper h2 {
  font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
  width: calc(35.6vw + 194.6px);
  margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
  margin-top: calc(11.11vw + 17.7px);
  font-weight: 500;
}

.emoji_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 70px;
}

.block h3 {
  font-size: 27px;
}

.block {
  width: calc(13.55vw + 276.4px);
}

.block img {
  width: calc(3.33vw + 167.3px);
}

/* Page 3 */
.blue-violet {
  background-color: #6E3ABA;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(4.4vw + 23px) 0 calc(5.3vw + 20px);
}

.blue-violet h2 {
  color: white;
  font-family: 'TT Hoves', sans-serif;
  font-size: 52px;
  font-weight: 700;
  width: 676px;
  margin-bottom: 57px;
}

.timer-block {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.twin h2{
  color: #2F1D4E;
  font-family: 'Chava', sans-serif;
  font-weight: 400;
  font-size: 174px;
  width: 251px;
}

.timer-block .twin span {
  color:#2F1D4E;
  font-family: 'TT Hoves', sans-serif;
  font-size: 27px;
  font-weight: 500;
  padding: 100px;
  text-align: center;
}

.blue-violet button {
  margin-top: 77px;
  font-size: 18px;
  color: #6E3ABA;

width:328px;
height: 61px;
padding: 20px;
gap: 10px;
border-radius: 12px;
text-align: center;
}

/* Page 4 */
.speaker-wrapper h2{
  font-family: 'TT Hoves', sans-serif;
  font-size: calc(0.9vw + 39px);
  font-weight: 500;
  margin-top: calc(6vw + 35.12px);
  margin-bottom: calc(5vw + 24.282px);
}

.legend-side img {
  width: 399px;
}

.right-side {
  margin-left: 51px;
}

.info-grid h2 {
  font-family: 'TT Hoves', sans-serif;
  font-size: calc(3vh + 33px);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.info-grid span{ 
  font-family: 'TT Hoves', sans-serif;
  font-size: 27px;
}

.legend-side {
  display: flex;
  flex-direction: row;
}

.grid-paragraph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 90px;
}

.first {
  width: 200px;
  height: 103px;
  gap: 10px;
}

.grid-paragraph img {
  width: 36px;
}

.first span{
  color: #222222;
  font-size: 21px;
  line-height: 29.4px;
}




















@media (max-width: 1280px) {
  .blue-violet h2 {
    font-size: 32px; /* Уменьшение шрифта заголовка */
    width: auto; /* Автоматическая ширина для адаптации */
    margin-bottom: 20px;
  }

  .timer-block {
    gap: 20px; /* Уменьшение промежутков между элементами */
  }

  .twin h2 {
    font-size: 100px; /* Уменьшение размера цифр */
    width: auto; /* Автоматическая ширина */
  }

  .timer-block .twin span {
    font-size: 18px; /* Уменьшение размера текста под дни, часы и минуты */
    padding: 0; /* Убираем лишние отступы */
  }

  .blue-violet button {
    width: 250px; /* Уменьшаем ширину кнопки */
    height: 45px; /* Уменьшаем высоту кнопки */
    font-size: 16px; /* Меньший размер шрифта для кнопки */
    padding: 10px; /* Уменьшение внутренних отступов */
  }
}